# Python / FastAPI
backend/__pycache__/
backend/app/core/firebase.json
backend/venv/
backend/*.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/.env

# General
.env
